<?xml version="1.0"?>
<robot name="open_manipulator_p_with_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find open_manipulator_p_description)/urdf/materials.xacro" />
 
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find open_manipulator_p_description)/urdf/open_manipulator_p_with_gripper.gazebo.xacro" />

  <!-- Import Controllers -->
  <xacro:include filename="$(find open_manipulator_p_description)/urdf/open_manipulator_p_with_gripper.ros2_control.xacro" />

  <!-- Import Transmission -->
  <xacro:include filename="$(find open_manipulator_p_description)/urdf/open_manipulator_p_with_gripper.transmission.xacro" />

  <!-- Import URDF -->
  <xacro:include filename="$(find open_manipulator_p_description)/urdf/open_manipulator_p_with_gripper.urdf.xacro" />

  <!-- World -->
  <link name="world"/>

  <xacro:open_manipulator_p_with_gripper parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:open_manipulator_p_with_gripper>

  <joint name="world_to_robot_joint" type="fixed">
    <parent link="world"/>
    <child link="link1"/> <!-- Replace with the actual name of the first link defined in the Xacro macro -->
    <origin xyz="0 0 0.23" rpy="0 0 0"/> <!-- Adjust these values as needed -->
  </joint>

  <xacro:open_manipulator_p_with_gripper_ros2_control name="open_manipulator_p_with_gripper_ros2_control" />

</robot>